body {
    background-color: rgb(30, 29, 37);
}
#main {
    width: 90vw;
    left: 5vw;
    right: 5vw;
    min-height: 100vh;
    top: 0;
    position: absolute;
    background-color: rgb(5, 6, 23);
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: rgb(3, 5, 18);
    text-align: center;
}
h1 {
    color: rgb(189, 185, 185);
}
#main_section {
    margin-top: 15vh;
    padding: 3px;
    width: 90vw;
}
h3, p, code, pre {
    color: white;
}
script {
    display: block;
}
iframe {
    width: 88vw;
    height: 70vh;
    margin: 0;
}
