
#Menue{
  width:1vw;
  height:100vw;
  background-color:black;
  color:black;
  position:absolute;
  left:0vw;
  top:0vw;
  z-index:15;
  transition:0.7s;
}
#Innen{
  visibility:collapse;
  background-color:lightgray;
}
#Ausen{
  width:100%;
  background-color:black;
  top:15vw;
  position:absolute;
    color:white;
  text-algin:center;
  transition-delay:0.7s;
}
#Menue:hover #Ausen{
  visibility:collapse;
  transition:0s;
}
#Menue:hover #Innen{
  visibility:visible;
  transition-delay:0.7s;
  }
#Menue:hover{
  width:15vw;
  transition:0.7s;
  background-color:lightgray;
}
#Link1{
  background-color:lightblue;
  height:5%;
  width:75%;
  position:relative;
  color:black;
  margin-left:12.5%;
  margin-top:5%;
  font-size:1.3cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
  textdecoration:none;
}
#Ueberschrift{
  background-color:lightblue;
  height:5%;
  width:75%;
  position:relative;
  color:black;
  margin-left:12.5%;
  margin-top:5%;
  font-size:1.1cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
}
#Link2{
  background-color:lightblue;
  height:5%;
  width:75%;
  position:relative;
  color:black;
  margin-left:12.5%;
  margin-top:5%;
  font-size:1.1cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
  textdecoration:none;
}

#Bild{
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
}


















