
#Menue{
  width:20px;
  height:100vh;
  background-color:black;
  color:black;
  position:absolute;
  left:0vw;
  top:0vw;
  z-index:15;
  transition:0.7s;
}
#Innen{
  visibility:collapse;
  background-color: white;
}
#Ausen{
  width:100%;
  background-color:black;
  top:15vw;
  position:absolute;
    color:white;
  text-algin:center;
  transition-delay:0.7s;
}
#Menue:hover #Ausen{
  visibility:collapse;
  transition:0s;
}
#Menue:hover #Innen{
  visibility:visible;
  transition-delay:0.7s;
  }
#Menue:hover{
  width:300px;
  transition:0.7s;
  background-color:white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
#Link1{
  background-color:lightblue;
  height:5%;
  width:75%;
  position:relative;
  color:black;
  margin-left:12.5%;
  margin-top:10%;
  font-size:1.1cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
  text-decoration:none;
}
#Ueberschrift{
  background-color:lightblue;
  height:5%;
  width:75%;
  position:relative;
  color:black;
  margin-left:12.5%;
  margin-top:10%;
  font-size:1.1cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
}
#Link2{
  background-color:lightblue;
  height:5%;
  width:75%;
  position:relative;
  color:black;
  margin-left:12.5%;
  margin-top:10%;
  font-size:1cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
  text-decoration:none;
}

#Bild{
  background-color:lightblue;
  position:relative;
  color:black;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  font-size:1.1cm;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-color:black;
  border-width:5px;
  border-radius:5px;
  text-decoration:none;
}
p{
  text-decoration:none !important;
}
a{
  text-decoration:none
}


















