body {
	font: normal 1em Helvetica, Arial, sans-serif;
}

nav ul {
	width: 10em;
	margin: 0;
	padding: 0.2em 0.8em 0.8em;
	border: 1px solid black;
	background-color: silver;
}

nav li {
	list-style: none;
	margin: 0.4em;
	padding: 0;
nav span {
	color: royalblue;
	background-color: gold;
	border-color: gold;
}



