
#Menue{
  width:1vw;
  height:100vw;
  background-color:black;
  color:black;
  position:absolute;
  left:0vw;
  top:0vw;
  z-index:15;
  transition:0.7s;
}
#Innen{
  visibility:collapse;
  background-color:lightgray;
}
#Ausen{
  width:100%;
  background-color:black;
  top:15vw;
  position:absolute;
    color:white;
  text-algin:center;
}
#Menue:hover #Ausen{
  visibility:collapse;
}
#Menue:hover #Innen{
  visibility:visible;
  transition-delay:0.7s;
  }
#Menue:hover{
  width:15vw;
  transition:0.7s;
  background-color:lightgray;
}



























