
#Menue{
  weidth:15vw;
  height:100vw;
  background-color:lightgray;
  color:black;
  position:absolute;
  left:0vw;
  top:0vw;
  z-index:15;
  transition:1s;
}
#Innen{
  visbility:collapse;
}
  




























