body {
    background-color: #718198;
}
h1 {
    position: absolute;
    top: 2%;
    text-align: center;
    left: 0;
    width: 100%;
}
form {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 80%;
}
form input {
    width: 100%;
}
