body {
    background-color: #718198;
}
h1 {
    position: absolute;
    top: 2%;
    text-align: center;
    left: 0;
    width: 100%;
}
form {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 90%;
}
form input {
    width: 100%;
    padding: 10px;
    margin: 5px;
}
button {
    position: absolute;
    bottom: 5%;
    right: 0;
    border: none;
    background-color: white;
    padding: 20px;
    outline-width: 0;
    outline-style: solid;
    outline-color: white;
    transition: outline-width 200ms, outline-color 300ms;
}
button:hover {
    outline-width: 2px;
}
button:active {
    outline-width: 3px;
    outline-color: grey;
}
