body {
    background-color: #BEBEBE;
    padding: 0;
    margin: 0;
    z-index: -20;
}
#Ueberschrift {
    font-style: oblique;
    font-size: 80px;
    font-family: "Times New Roman";
    margin-left: 40vw;
    margin-right: 40vw;
}

































