#body {
    background-color: #BEBEBE;
    padding: 0;
    margin: 0;
    z-index: -20;
}
#Ueeberschrift {
    text-align: center;
    font-style: oblique;
    font-size: 80px;
    font-family: "Times New Roman";
    margin-left: 30vw;
    margin-right: 35vw;
}
#Liste {
    background-color: #D9D9D9;
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 75vw;
    width: 80vw;
}
#Texte {
    background-color: #BEBEBE;
    font-style: oblique;
    margin-left: auto;
    margin-right:auto;
    margin-top: 18px;
    margin-bottom: 1px;
    height: 10vw;
    width: 80vw;
    text-align: center;
    font-size: 21px;
}
 .Produkt1 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10vw;
    width: 23vw;
    float: left;
}
 #Bild1 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10vw;
    width: 23vw;
    float: left;
}



























