h1 {
    position: absolute;
    top: 0;
    left: 3%;
    width: 97%;
    background-color: rgb(232, 232, 255);
    margin: 0;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    height: 15vh;
}
body {
    margin: 0;
    padding: 0;
}
#bilder {
    left: 3%;
    width: 60vw;
    height: 50vh;
    top: 15vh;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#links, #rechts {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}
#links {
    left: 0;
}
#rechts {
    right: 0;
}
#beschreibung {
    position: absolute;
    left: 63%;
    height: 50vw;
    top: 15vh;
    width: 37%;
    padding: 20px;
    box-sizing: border-box;
}
table {
    left: 5%;
    width: 80%;
    top: 70%;
    height: 27%;
    position: absolute;
}
#kaufen {
    position: fixed;
    right: 4%;
    bottom: 2%;
    color: white;
    padding: 25px;
    background-color: black;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #0037ff;
    transition: outline-color 200ms, background-color 200ms, color 250ms, outline-width 100ms;
}
#kaufen:hover {
    outline-color: red;
    color: #dedede;
    background-color: #1b1b1b;
    outline-width: 4px;
}
#kaufen:active {
    outline-color: black;
    outline-width: 1px;
    background-color: black;
    color: #848484;
