body {
  background-color: #BEBEBE;
}
#Ueeberschrift {
    text-align: center;
    font-style: oblique;
    font-size: 80px;
    font-family: "Times New Roman";
    margin-left: 30vw;
    margin-right: 35vw;
}
#Texte {
    background-color: #D9D9D9;
    font-style: oblique;
    margin-left: auto;
    margin-right:auto;
    margin-top: 18px;
    margin-bottom: 1px;
    height: 10vw;
    width: 80vw;
    text-align: center;
    font-size: 21px;
}
#Liste {
    background-color: #D9D9D9;
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 75vw;
    width: 80vw;
    font-style: oblique;
    text-align: center;
    font-size: 21px;
}
#bild {
  position: absolute;
  left: 0;
  width: 10vw;
  height: 10vw;
}
  
  
  
  
  
  
  
  
