body {
  background-color:  #f7e571 ;
}

#Spalte {width: 100%;
         height:20vh;
         margin-top:0.5vh;
         font-algin:left;
}

#Ueeberschrift {
    text-align: center;
    font-style: oblique;
    font-size: 70px;
    font-family: "Arial Black";
    background-color:#f7e571;
    margin-top:2vh;
    width:100vw;
    height:20vh;
    color:black;
  
}
#Texte {
    background-color:   #71b5c1;
    font-style: oblique;
    margin-left: auto;
    margin-right:auto;
    margin-top: 0vh;
    margin-bottom: 1px;
    height: 10vw;
    width: 80vw;
    text-align: left;
    font-size: 20px;
    font-family: "Arial Black";
}
#Liste {
    background-color:   #71b5c1;
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 75vw;
    width: 80vw;
    font-style: oblique;
    text-align: left;
    font-size: 20px;
    font-family: "Arial Black";
}
#bild {
  position:relative;
  left: 0;
  height: 10vw;
  margin-left: 0vw;
 float:bottom;
 float:left;
}
p {
  float: right;
}
