@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
h1 {font-family: 'Fjalla One', sans-serif;
    font-size:60px; position:absolute; left:20px; position: relative;
    top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
	transform: translateY(-50%); color:black;  font-weight:lighter;}	

#Artikel{width:1000px; height:500px; background-color:white; position:relative;
         margin-top:130px; margin-left:auto; margin-right:auto; }
		 
img {position:absolute; overflow:hidden;  max-height:450px; right:0px; }


#BreitSs {width:100%; height:200px; background-color:black; }

#BreitSss {width:100%; height:100px; background-color:black; }

#Farbverlauf   { background-image:linear-gradient(white, black); width:100%; height:200px;
                 position:relative; top:100px;}

#BreitS {width:100%; height:500px; background-color:black; position:relative; }	 

#Schwarz{width:1015px; height:500px; background-color:black; position:relative; margin-top:0px;
         margin-left:auto; margin-right:auto; font-family:Corbel;  }
		 
p {font-family: 'Quicksand', sans-serif; font-size:60px; position:absolute; left:20px; position:relative;
   color:white; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
   transform: translateY(-50%); }	
 
 footer {margin-top:0px; background-color: black; color:white; width:100%;
         height:30px; position:relative; font-size:24px; font-family: 'Work Sans', sans-serif;}
		 
#dia {top:60px;}

#Ed4 {top:60px; right:-100px;}

#Gold {height:400px; top:20px;}

#Breitw {width:100%; height:100px; }
/* Aussehen Knopf */
.dropbtn {
    background-color: black;
    color: white;
    left: 0px;
    font-size: 25px;
    border: none;
    cursor: pointer;
	width: 162px;
	height: 40px;
	z-index: 10;
    font-family: 'Roboto', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
	z-index: 10;
}

/* Dropdown Menü */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 162px;
    box-shadow: 1px 1px 1px black;
	z-index: 10;
	font-family: 'Roboto', sans-serif;
	
}


/* Links im Menü */
.dropdown-content a {
    color: white;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
	z-index: 10;
	font-family:Microsoft YaHei Boot;
	font-size:23px;
	font-family: 'Roboto', sans-serif;
}

/*Links bei hover */
.dropdown-content a:hover {background-color:#060606;  }

/* dropdown menü bei hover */
.dropdown:hover .dropdown-content {
    display: block;
	z-index: 10;
}

/* Knopf bei hover*/
.dropdown:hover .dropbtn {
    background-color: black;
	z-index: 10;

}



* {padding: 0px; margin:0px; }
 body { background-color:white; }
 
 header { height: 100px; background-color:black; opacity:0.9; width:100%; z-index: 10; } 
 
 #Überschrift{font-size:82px; color:white; font-family: 'Indie Flower', cursive; font-style:italic;
              text-shadow:white 1px 1px 5px; width:1000px; margin-left:auto; margin-right:auto;
			   position:relative; z-index: 10; left:45px; font-family: 'Calligraffitti', cursive;}			  
			
#Überschrift i { color:white;}

#Überschrift a {font-size:82px; cursor:text; font-family: 'Calligraffitti', cursive;}
			
#Sticky {position:Sticky; background-color:black; height: 40px; width:100%; top:0%;
         opacity: 0.90; z-index: 10;}
 
		
#Navigation {  width:1000px ; height:40px; padding:0px; margin:0px;  margin-left:auto; 
               margin-right:auto; z-index: 10; visibility:none;}
				
a {font-size:25px; text-decoration:none; color:white; z-index: 10; font-family: 'Roboto', sans-serif;}
 
#Button {width:166px; height:100%;  font-size: 25px; background-color: black;
         color:white;  cursor: pointer; border:none; padding-top:0px; z-index: 10;}

#input {width:166px; background-color:black; color:white; border:none; height:40px;
        font-size:20px; z-index:10; font-family: 'Roboto', sans-serif;; }	
	
#input:hover {background-color:#060606 !important; }	 	 

#suchicon {width:40px; height:40px; border:none; position:absolute; padding-bottom:0px;
           background-color:black; color:white; z-index: 10; box-shadow: 1px 1px 1px black;}
	
#suchicon:hover {background-color:#060606 !important;}	
	
#klein {font-size:23px; z-index: 10;}		 

#Leer {opacity:0;}
