body {
    background-color: #d4d4da;
    padding: 0;
    margin: 0;
}
#suche {
    margin: 0;
    width: 100vw;
    height: 15vh;
    padding: 15px
}
#suche input {
    padding: 10px;
    font-size: 30px;
    width: 90%;
    display: flex;
    flex: 1;
}
