body {
    background-color: #d4d4da;
    padding: 0;
    margin: 0;
}
#suche {
    margin: 0;
    width: 100%;
    height: 10vh;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ada9aa;
}
#suche input {
    padding: 10px;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
#werbung_die_nicht_von_adblockern_geblockt_werden_soll {
    height: 85vh;
    box-sizing: border-box;
    width: 100%;
    background-color: #e6e5ef;
}
