body {
    background-color: #d4d4da;
    padding: 0;
    margin: 0;
}
#suche {
    margin: 0;
    width: 100%;
    height: 15vh;
    padding: 15px;
    box-sizing: border-box;
}
#suche input {
    padding: 10px;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
}
