body {
    background-color: #1e2529;
    padding: 0;
    margin: 0;
}
#suche {
    margin: 0;
    width: 100%;
    height: 10vh;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ada9aa;
}
#suche input {
    padding: 10px;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
#werbung_die_nicht_von_adblockern_geblockt_werden_soll {
    height: 85vh;
    box-sizing: border-box;
    width: 100%;
    background-color: #e6e5ef;
}
#begruessung {
    margin: 0;
    text-align: center;
    margin-top: 5%;
    width: 100vw;
}
.werbeseite {
    overflow: hidden;
}
.weiter_button {
    width: 5vh;
    height: 5vh;
    background-color: rgba(255, 255, 255, 150);
    border-color: grey;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
#weiter_rechts {
    background-image: url(../Bilder/Design/rechts.svg);
    right: 0;
}
#weiter_links {
    background-image: url(../Bilder/Design/links.svg);
}
