h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(232, 232, 255);
    margin: 0;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    height: 15vh;
}
body {
    margin: 0;
    padding: 0;
}
#bilder {
    width: 60vw;
    height: 50vh;
    top: 15vh;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}
