 body {
    margin-right:10vw;
    margin-left:10vw;
    background-color: lightblue;
    width: 80vw;
    height: 100vh;
} 
h1 {
    top: 5vh;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    text-shadow: 0 0 10px black;
    width: 80vw;  
    text-decoration:underline;
}
h2 {
    top: 3vh;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    text-shadow: 0 0 10px black;
    width: 80vw;   
}
img {
    width: 50vw;
    height: 50vh;
}
div {
    font-size:25px;
    height:20vw;
    width:80vw;
    right:10vw;
    left:10vw;
    
}
#begrenzung{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    
}